:root {

    /* Colors */
    --dark-sienna: #220901;
    --blood-red: #621708;
    --dark-red: #941b0c;
    --rust: #bc3908;
    --bright-yellow-crayola: #f6aa1c;
    --bud-green: #5FAD56;
    --viridian: #56876D;
    --dark-sea-green: #8DB38B;
    --mindaro: #D2FF96;
    --granny-smith-apple: #B7F0AD;
    --tea-green: #C5EBC3;
    --deep-space-sparkle: #335C67;
    --queen-blue: #3E6990;
    --medium-turquoise: #4ECDC4;
    --middle-blue: #92DCE5;
    --electric-blue: #87F5FB;
    --aero-blue: #BCF8EC;
    --powder-blue: #AED9E0;

    /* Fonts */
    --disco: 'Abril Fatface';
    --spooky: 'Averia Serif Libre';
    --soda: 'Cherry Swash';
    --german: 'Germania One';
    --trek: 'Goldman';
    --salem: 'IM Fell English';
    --circus: 'Rye';
    --ibm: 'IBM Plex Mono';

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
    position: absolute;
}

main {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    color: white;
    z-index: 99;
    position: absolute;
    margin: 0 auto;
    padding: 140px 0;

    display: grid;

}

/* .text-section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    grid-template-areas: 'leftest leftmid middle rightmid rightest';
}

.hi {
    font-size: 6rem;
    color: var(--deep-space-sparkle);
}

.intro {
    text-align: center;
    font-size: 2rem;
    grid-area: leftmid;
    color: var(--electric-blue);
} */

.button {
    width: 130px;
}

button {
    position: fixed;
    padding: auto;
    bottom: 10px;
    left: calc(50vw - 130px);
    font-size: 2rem;
    border-radius: 15px;
    background-color: black;
    color: azure;
    border: 2px solid darkgrey;
    text-align: center;
    margin: 5px;
}

button:hover {
    cursor: crosshair;
}

button:active {
    scale: 0.98;
}

#next {
    margin: 15px auto;
}

#sand {
    margin: 75px auto;
}

#box {
    margin: 20px;
}

#sand:hover {
    cursor: pointer;
}

.text {
    font-family: 'Tahoma';
}

.button {
    position: fixed;
        padding: auto;
        bottom: 83px;
        left: calc(50vw - 270px);
        font-weight: 500;
        
    display: flex;
    align-items: center;
    justify-content: center;
}

#warn {
    }